.character {
  width: 28%;
  height: 100%;
  padding: 30px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
  transition-duration: .2s;
  box-shadow: rgba(0, 0, 0, 0.74) 5px 5px 15px;
}
.character:hover {
  box-shadow: rgba(0, 0, 0, 0.74) 0px 15px 5px 3px;
  transform: translate3d(0px, -10px, 0);
}
.character__imgContainer {
  height: 50%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* animation-delay: .5s; */
  animation-timing-function: ease-in-ou3;
}
.character__imgContainer:hover {
  animation-name: movImagen;
}
@keyframes movImagen {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(-3px, 3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.character__textContainer {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character__textTitle {
  font-size: 1.6em;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px;
}
.character__textDescription {
  margin-top: 5px;
  font-size: .9em;
  font-weight: 400;
  text-align: center;
}
.character__skillsContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.character__skill {
  color: #000;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(40, 141, 40);
  padding: 4px 10px;
  transition-duration: .2s;
  font-size: .8em;
  font-weight: 400;
}
.character__skill:hover {
  background-color: rgba(245, 245, 245, 0.425);
  border: 2px solid rgb(40, 141, 40);
}
.character__button{
  margin-top: 15px;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid rgb(40, 141, 40);
  background-color: transparent;
  outline: none;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.781);
  border-radius: 2px;
  transition-duration: .3s;
}
.character__button:hover {
  background-color: rgba(40, 141, 40, 0.664);
  color: whitesmoke;
}