.titulo {
  font-size: 5em;
  font-weight: 800;
  color: rgba(20, 20, 20);
  text-shadow: rgba(0, 0, 0, 0.507) 5px 5px 3px;
  border-bottom: 7px solid transparent;
  transition-duration: .3s;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}
.titulo:hover {
  transform: scale(105%);
  border-bottom:7px solid yellow;
}
.game__contenedorPrueba {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

